<%- include('./../includes/head.ejs') %>
<%- include('./../includes/head_end.ejs') %>

<body>
<%- include('./../includes/navigation.ejs') %>
<main>
    <% if (items.length > 0) { %>
        <div class="grid">
            <% for (let item of items) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title">
                            <%= item.productId.title %>
                        </h1>
                    </header>
<!--                    <div class="card__image">-->
<!--                        <img src="<%= item.productId.imageUrl %>" alt="<%= item.productId.title %>">-->
<!--                    </div>-->
                    <div class="card__content">
                        <h2 class="product__price">$
                            <%= item.productId.price %>
                        </h2>
                        <p class="product__description">
                            <%= item.productId.description %>
                        </p>
                    </div>
                    <div class="card__content">
                        <p>Quantity:</p>
                        <%= item.quantity %>
                    </div>
                    <div class="card__actions">
                        <a href="/products/<%= item.productId._id %>" class="btn">Details</a>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" name="productId" value="<%= item.productId._id %>">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </div>
                </article>
            <% } %>
        </div>
        <hr>
        <div class="centered">
            <form action="/create-order" method="POST">
                <button class="btn" type="submit">Order now!</button>
            </form>
        </div>

    <% } else { %>
        <h1>No Products in Cart!</h1>
    <% } %>
</main>
<%- include('./../includes/scripts.ejs') %>
</body>

<%- include('./../includes/end.ejs') %>
